@import './settings.scss';
@import './reset.scss';
@import './PageContent/index.scss';

body {
  background: $bodyBackground;
  display: flex;
  justify-content: center;
}

.bodyContain {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: max-content;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  position: relative;
}

.bodyContainerItem {
  transition: all ease 0.3s;
  background: transparent;
  position: relative;
}

.text-page {
  font-family: $textFont;

  text-align: center;

  background-color: #927c68;
  background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
      

     p {
      margin: 1rem auto 0rem auto;
     }


    @media all and (min-width: 920px) {
      height: 1080px;
    }
}


.toc-marker {
  position: absolute;
  top: -200px;


  .venueContainer & {
    top: -0px;
  }
}