/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/string-replace-loader/index.js??ruleSet[1].rules[2].use[2]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./node_modules/sass-loader/dist/cjs.js!./src/styles/styles.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Cormorant+Infant:wght@300&family=Dancing+Script:wght@500;700&family=Italiana&family=Playfair+Display&display=swap);
/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/string-replace-loader/index.js??ruleSet[1].rules[2].use[2]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./node_modules/sass-loader/dist/cjs.js!./src/styles/styles.scss (1) ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Cormorant+Infant:wght@300&family=Dancing+Script:wght@500;700&family=Italiana&family=Playfair+Display&display=swap);
/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/string-replace-loader/index.js??ruleSet[1].rules[2].use[2]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./node_modules/sass-loader/dist/cjs.js!./src/styles/styles.scss (2) ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Cormorant+Infant:wght@300&family=Dancing+Script:wght@500;700&family=Italiana&family=Playfair+Display&display=swap);
/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/string-replace-loader/index.js??ruleSet[1].rules[2].use[2]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./node_modules/sass-loader/dist/cjs.js!./src/styles/styles.scss (3) ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Cormorant+Infant:wght@300&family=Dancing+Script:wght@500;700&family=Italiana&family=Playfair+Display&display=swap);
/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/string-replace-loader/index.js??ruleSet[1].rules[2].use[2]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./node_modules/sass-loader/dist/cjs.js!./src/styles/styles.scss (4) ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Cormorant+Infant:wght@300&family=Dancing+Script:wght@500;700&family=Italiana&family=Playfair+Display&display=swap);
/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/string-replace-loader/index.js??ruleSet[1].rules[2].use[2]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./node_modules/sass-loader/dist/cjs.js!./src/styles/styles.scss (5) ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Cormorant+Infant:wght@300&family=Dancing+Script:wght@500;700&family=Italiana&family=Playfair+Display&display=swap);
/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/string-replace-loader/index.js??ruleSet[1].rules[2].use[2]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./node_modules/sass-loader/dist/cjs.js!./src/styles/styles.scss (6) ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Cormorant+Infant:wght@300&family=Dancing+Script:wght@500;700&family=Italiana&family=Playfair+Display&display=swap);
/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/string-replace-loader/index.js??ruleSet[1].rules[2].use[2]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./node_modules/sass-loader/dist/cjs.js!./src/styles/styles.scss (7) ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Cormorant+Infant:wght@300&family=Dancing+Script:wght@500;700&family=Italiana&family=Playfair+Display&display=swap);
/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/string-replace-loader/index.js??ruleSet[1].rules[2].use[2]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./node_modules/sass-loader/dist/cjs.js!./src/styles/styles.scss (8) ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Cormorant+Infant:wght@300&family=Dancing+Script:wght@500;700&family=Italiana&family=Playfair+Display&display=swap);
/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/string-replace-loader/index.js??ruleSet[1].rules[2].use[2]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./node_modules/sass-loader/dist/cjs.js!./src/styles/styles.scss (9) ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
/* 
  Fonts
 */
/* Alex Custom Colors */
/* Possible Pattern */
/* Not liking this WhiteTri one... */
/* 

  Colors

 */
html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #3b3b3b; }

h1, h2, h3, h4, h5 {
  margin: 6px;
  padding: 0; }

/* 
  Fonts
 */
/* Alex Custom Colors */
/* Possible Pattern */
/* Not liking this WhiteTri one... */
/* 

  Colors

 */
/* 
  NOT NEEDED ANYMORE SINCE THIS HAS BEEN MIGRATED INTO THE
  "SPACER" COMPONENT

 */
.titleOuterContainer.bodyContainerItem {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; }

.titleImage {
  /*   background: url(assets/)assets/images/engage/highlight/52.jpg'); */
  background: url(../../assets/images/2.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(50%); }

/* This is a place holder for the Logo */
.titleName {
  background: url(../../assets/images/initials-white-trans.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;
  height: 200px;
  width: 400px; }

.titleOuterContainer.bodyContainerItem {
  border: 5px solid black;
  height: 80vh; }

/* 
  Fonts
 */
/* Alex Custom Colors */
/* Possible Pattern */
/* Not liking this WhiteTri one... */
/* 

  Colors

 */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-areas: 'logo links';
  z-index: 10;
  transition: all ease 0.5s;
  background: #334a3f47; }
  .navbar.is-active {
    background: #334a3f47; }

.navbarMobile {
  display: flex;
  flex-direction: column; }
  @media all and (min-width: 500px) {
    .navbarMobile {
      display: none; } }

.navlogo {
  background: url(../../assets/images/initials-white-trans.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 1rem;
  height: 50px;
  width: 70px;
  grid-area: logo; }
  .navbar.on-scroll .navlogo {
    height: 75px; }
  .navbar > .navlogo {
    display: none;
    margin-left: 2rem; }
    @media all and (min-width: 500px) {
      .navbar > .navlogo {
        display: block; } }

.navbarcontainer {
  display: none;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  grid-area: links;
  font-family: "Cormorant Infant", serif;
  font-size: 2rem;
  letter-spacing: 5px; }
  .on-scroll .navbarcontainer {
    height: 100%;
    align-items: center; }
  .navbar > .navbarcontainer {
    display: none; }
    @media all and (min-width: 500px) {
      .navbar > .navbarcontainer {
        display: flex; } }
  .navbarMobile .navbarcontainer {
    flex-direction: column;
    display: flex;
    transform: translate(0, -600%);
    transition: all ease 0.35s;
    opacity: 0;
    pointer-events: none;
    height: 0; }
  .navbarMobile .navbarcontainer.is-active {
    height: auto;
    opacity: 1;
    transform: translate(0, 0%);
    pointer-events: auto; }

.navlinkItem {
  color: white;
  text-decoration: none;
  padding-right: 1rem;
  padding-left: 1rem;
  transition: all ease 0.5s;
  height: 100%;
  display: flex;
  align-items: center; }
  .on-scroll .navlinkItem {
    display: flex;
    align-items: center;
    height: 100%; }
  .navlinkItem:hover {
    /*     background: #e2c2af47;
 */
    background: linear-gradient(to right, rgba(226, 194, 175, 0) 0%, rgba(226, 194, 175, 0.2) 50%, rgba(226, 194, 175, 0) 100%); }
  .navbarMobile .navlinkItem {
    display: none; }
  .navbarcontainer.is-active .navlinkItem {
    display: flex; }

/* On scroll events */
.on-scroll {
  position: fixed;
  width: 100vw;
  left: 0;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5); }

/* 
  Fonts
 */
/* Alex Custom Colors */
/* Possible Pattern */
/* Not liking this WhiteTri one... */
/* 

  Colors

 */
.venueContainer.bodyContainerItem {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-family: "Cormorant Garamond", serif; }
  @media all and (min-width: 900px) {
    .venueContainer.bodyContainerItem {
      padding-top: 5rem;
      flex-direction: row;
      height: 100vh; } }

.venue-bg-container {
  display: none; }
  @media all and (min-width: 900px) {
    .venue-bg-container {
      display: block;
      width: 33%;
      height: 85%;
      margin: 1rem;
      margin-right: 4rem; } }

.venue-bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(60%);
  box-shadow: 0px 0px 50px #666; }

.venue-text {
  border-radius: 5px;
  width: 90%;
  text-align: center;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  @media all and (min-width: 900px) {
    .venue-text {
      height: 85%;
      padding: 1rem 9rem;
      width: 50%; } }

.venue-text-header {
  font-size: 2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .venue-text-header::after {
    display: flex;
    content: ' ';
    border: 1px solid black;
    width: 60%;
    justify-self: center;
    margin: 0.5rem 0; }
  @media all and (min-width: 900px) {
    .venue-text-header {
      font-size: 2.5rem; } }

.venue-blurb {
  font-size: 1.3rem; }
  .venue-blurb strong {
    text-shadow: 0 0 black; }
  @media all and (min-width: 900px) {
    .venue-blurb {
      font-size: 1.5rem; } }

/* 
  Fonts
 */
/* Alex Custom Colors */
/* Possible Pattern */
/* Not liking this WhiteTri one... */
/* 

  Colors

 */
.spacer.bodyContainerItem {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 50vh;
  background-color: #5c4d40;
  background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png"); }
  @media all and (min-width: 900px) {
    .spacer.bodyContainerItem {
      height: 100vh; } }

.spacerImage {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(50%);
  box-shadow: inset 0px 6px 14px 0px rgba(32, 32, 32, 0.54), inset 0px -10px 14px 0px rgba(32, 32, 32, 0.54); }
  @media all and (min-width: 900px) {
    .spacerImage {
      background-attachment: fixed; } }

.spacerName {
  position: absolute;
  z-index: 3;
  font-size: 3rem;
  color: white;
  font-family: "Cormorant Infant", serif;
  text-transform: uppercase; }
  .spacer:not(.spacer_Intro) .spacerName {
    left: 30px;
    bottom: 10px;
    font-weight: bold;
    display: flex;
    align-items: center; }
  @media all and (min-width: 900px) {
    .spacerName {
      height: 200px;
      width: 400px;
      left: 40px;
      bottom: 0;
      font-size: 5rem; } }

/* INTRO SECTION -- INTRO CONTEXT */
.spacer_Intro.bodyContainerItem .spacerImage {
  background-size: cover; }

.spacer_Intro.bodyContainerItem .spacerName {
  background: url(../../assets/images/monogram-white-trans.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 180px;
  width: 280px;
  bottom: 40px;
  left: 20px; }
  @media all and (min-width: 900px) {
    .spacer_Intro.bodyContainerItem .spacerName {
      height: 360px;
      width: 560px; } }

/* TRAVEL -- CARTAGENA CONTEXT 

  Keeping this just to save time in writing it in case I need it.

*/
/* 
.spacer_Travel {
  .spacerName {
 
    
  }
}

.spacer_Registry {
  .spacerName {
     
  }
}

.spacer_FAQ {
  .spacerName {

  }
}
 */
/* 
  Fonts
 */
/* Alex Custom Colors */
/* Possible Pattern */
/* Not liking this WhiteTri one... */
/* 

  Colors

 */
.TravelContainer.bodyContainerItem {
  flex-direction: row;
  align-items: center;
  display: flex;
  font-family: "Cormorant Garamond", serif; }
  @media all and (min-width: 900px) {
    .TravelContainer.bodyContainerItem {
      height: 900px; } }

.Travel-text {
  height: 90%;
  text-align: center;
  padding: 1rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  width: 100%; }
  @media all and (min-width: 900px) {
    .Travel-text {
      height: 90%;
      padding: 1rem 9rem; } }

.Travel-text-header {
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .Travel-text-header::after {
    display: flex;
    content: ' ';
    border: 1px solid #333;
    width: 60%;
    justify-self: center;
    margin: 0.5rem 0; }

.travelTextNav {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  transition: all ease 0.25s;
  text-align: center;
  margin: 0;
  position: relative;
  box-shadow: 0; }
  @media all and (min-width: 500px) {
    .travelTextNav {
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 2rem;
      margin-bottom: -2px; } }
  .travelTextNav .travelTextNavItem {
    margin: 0;
    padding: 1rem;
    transition: all ease 0.23s;
    box-shadow: none;
    font-size: 1.5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: inset 0px -9px 11px -9px rgba(0, 0, 0, 0.55);
    pointer-events: auto; }
    .travelTextNav .travelTextNavItem.is-active {
      box-shadow: none;
      font-weight: bold;
      border-bottom: 0;
      pointer-events: none; }
    .travelTextNav .travelTextNavItem.travelTextNavItem0 {
      border-right: 1px solid #111; }
    .travelTextNav .travelTextNavItem:hover {
      cursor: pointer;
      font-weight: bold; }

.Travel-blurb {
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  position: relative; }

.travelBlurbItem {
  opacity: 0;
  display: none;
  transition: all ease 2s;
  flex-direction: column;
  pointer-events: none; }
  .travelBlurbItem.is-active {
    display: block;
    opacity: 1;
    pointer-events: auto;
    z-index: 3; }
  @media all and (min-width: 900px) {
    .travelBlurbItem {
      position: absolute;
      display: flex; }
      .travelBlurbItem.is-active {
        display: flex; } }

.travelDirections {
  height: 100%;
  text-align: center;
  width: 100%; }
  .travelDirections .directions-wrapper {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 2rem; }
    .travelDirections .directions-wrapper .directions-texts-wrapper {
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      padding: 1rem; }
      .travelDirections .directions-wrapper .directions-texts-wrapper p {
        margin: 1rem auto 0rem auto; }

.travelHotelsContainer {
  width: 100%; }

.travelMobileContainer {
  height: 100%;
  width: 100%; }
  .travelMobileContainer .hotelDisclaimer {
    padding: 1rem 1rem 2rem 1rem; }
  @media all and (min-width: 900px) {
    .travelMobileContainer {
      display: none; } }

.travelDesktopContainer {
  display: none;
  height: 70vh; }
  @media all and (min-width: 900px) {
    .travelDesktopContainer {
      display: flex; } }

/* The Location Tab */
.travelDesktopDirectionsTextContainer {
  height: 100%;
  width: 55%;
  border-top-left-radius: 0; }

.travelDesktopDirectionsContainer {
  height: 100%;
  display: none; }
  @media (min-width: 900px) {
    .travelDesktopDirectionsContainer {
      display: flex; } }

.travelMobileDirectionsContainer {
  display: block; }
  @media (min-width: 900px) {
    .travelMobileDirectionsContainer {
      display: none; } }

.travelDirectionsNav {
  display: flex;
  flex-direction: row; }

.destinationNavItem {
  display: inline-flex;
  width: 25%;
  height: 100%;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.25rem;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  transition: all ease 0.5s;
  box-shadow: inset 0px -9px 11px -9px rgba(0, 0, 0, 0.55); }
  .destinationNavItem:first-of-type {
    border-left: 0; }
  .destinationNavItem:last-of-type {
    border-right: 0; }
  .destinationNavItem:hover {
    cursor: pointer;
    font-weight: bold; }
  .destinationNavItem.is-active {
    font-weight: bold;
    box-shadow: none;
    border-bottom: 0;
    pointer-events: none; }
  .destinationNavItem .wrapper, .destinationNavItem .text {
    pointer-events: none; }

.travelDesktopDirectionsImageContainer {
  height: 100%;
  width: 40%;
  margin-left: 1rem;
  position: relative; }
  .travelDesktopDirectionsImageContainer .destinationPictureGroup {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: all ease 0.2s;
    pointer-events: none;
    flex-direction: column;
    display: flex; }
    .travelDesktopDirectionsImageContainer .destinationPictureGroup.is-active {
      opacity: 1;
      pointer-events: auto; }
    .travelDesktopDirectionsImageContainer .destinationPictureGroup .destinationDesktopImage {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 1rem;
      overflow: hidden; }
    .travelDesktopDirectionsImageContainer .destinationPictureGroup .destinationDesktopImg {
      align-self: center;
      height: 33.33%;
      width: 70%;
      background-size: 110% 110%;
      background-position: center;
      transition: all 0.5s ease; }
      .travelDesktopDirectionsImageContainer .destinationPictureGroup .destinationDesktopImg:first-of-type {
        align-self: baseline;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px; }
      .travelDesktopDirectionsImageContainer .destinationPictureGroup .destinationDesktopImg:last-of-type {
        align-self: flex-end;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px; }
      .travelDesktopDirectionsImageContainer .destinationPictureGroup .destinationDesktopImg:hover {
        background-size: 120% 120%;
        cursor: pointer; }
    .travelDesktopDirectionsImageContainer .destinationPictureGroup.single-image {
      padding: 2rem; }
      .travelDesktopDirectionsImageContainer .destinationPictureGroup.single-image .destinationDesktopImg {
        height: 100%;
        width: 100%; }

.travelDesktopDirectionsTextInnerContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 92%;
  width: 100%;
  position: relative; }
  .travelDesktopDirectionsTextInnerContainer .destinationContent {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all ease 1s;
    position: absolute;
    padding: 2rem;
    pointer-events: none;
    overflow: hidden; }
    .travelDesktopDirectionsTextInnerContainer .destinationContent.is-active {
      display: flex;
      opacity: 1;
      pointer-events: auto; }
    .travelDesktopDirectionsTextInnerContainer .destinationContent .wrapper {
      display: grid;
      grid-template-areas: "name name" "price link" "blurb blurb" "disclaimer disclaimer";
      grid-auto-rows: min-content;
      grid-auto-columns: 3.75rem 1fr;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2rem;
      border: 2px solid #b2b59a33;
      border-radius: 5px;
      overflow: auto;
      pointer-events: none;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      z-index: 0; }
      .is-active .travelDesktopDirectionsTextInnerContainer .destinationContent .wrapper {
        pointer-events: auto;
        z-index: 3; }
      .travelDesktopDirectionsTextInnerContainer .destinationContent .wrapper::-webkit-scrollbar {
        width: 12px;
        /* width of the entire scrollbar */ }
      .travelDesktopDirectionsTextInnerContainer .destinationContent .wrapper::-webkit-scrollbar-track {
        background: #b2b59a33;
        /* color of the tracking area */
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5); }
      .travelDesktopDirectionsTextInnerContainer .destinationContent .wrapper::-webkit-scrollbar-thumb {
        background-color: #b2b59aee;
        /* color of the scroll thumb */
        border-radius: 20px;
        /* roundness of the scroll thumb */
        border: 1px solid #b2b59acc;
        border-radius: 10px;
        /* creates padding around scroll thumb */
        box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.2); }
    .travelDesktopDirectionsTextInnerContainer .destinationContent .heading {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: bold;
      width: 100%;
      text-align: center;
      grid-area: name; }
      .travelDesktopDirectionsTextInnerContainer .destinationContent .heading:after {
        content: " ";
        display: block;
        width: 50%;
        border: 1px solid #333;
        margin: 1rem auto 0.5rem auto; }
    .travelDesktopDirectionsTextInnerContainer .destinationContent .blurb {
      grid-area: blurb;
      font-size: 1.2rem;
      text-align: center; }

/* Hotel Tab */
.travelDesktopTextContainer.textPageTextContainer {
  height: 100%;
  width: 55%;
  border-top-left-radius: 0; }
  .travelDesktopTextContainer.textPageTextContainer .travelDesktopHotelNav {
    display: flex;
    height: 5%; }
    .travelDesktopTextContainer.textPageTextContainer .travelDesktopHotelNav .hotelNavItem {
      display: inline-flex;
      width: 25%;
      height: 100%;
      font-size: 1.25rem;
      justify-content: center;
      align-items: center;
      padding: 1rem 0.25rem;
      border-bottom: 1px solid #333;
      border-right: 1px solid #333;
      transition: all ease 0.5s;
      box-shadow: inset 0px -9px 11px -9px rgba(0, 0, 0, 0.55); }
      .travelDesktopTextContainer.textPageTextContainer .travelDesktopHotelNav .hotelNavItem:first-of-type {
        border-left: 0; }
      .travelDesktopTextContainer.textPageTextContainer .travelDesktopHotelNav .hotelNavItem:last-of-type {
        border-right: 0; }
      .travelDesktopTextContainer.textPageTextContainer .travelDesktopHotelNav .hotelNavItem:hover {
        cursor: pointer;
        font-weight: bold; }
      .travelDesktopTextContainer.textPageTextContainer .travelDesktopHotelNav .hotelNavItem.is-active {
        font-weight: bold;
        box-shadow: none;
        border-bottom: 0;
        pointer-events: none; }
  .travelDesktopTextContainer.textPageTextContainer .hotelDetailsDesktop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 95%;
    width: 100%;
    position: relative; }
    .travelDesktopTextContainer.textPageTextContainer .hotelDetailsDesktop .hotelDetailsDesktopItem {
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: all ease 1s;
      position: absolute;
      padding: 2rem;
      pointer-events: none; }
      .travelDesktopTextContainer.textPageTextContainer .hotelDetailsDesktop .hotelDetailsDesktopItem.is-active {
        display: flex;
        opacity: 1;
        pointer-events: auto; }
      .travelDesktopTextContainer.textPageTextContainer .hotelDetailsDesktop .hotelDetailsDesktopItem .wrapper {
        display: grid;
        grid-template-areas: "name name" "price link" "blurb blurb" "disclaimer disclaimer";
        grid-auto-rows: min-content;
        grid-auto-columns: 3.75rem 1fr;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2rem;
        border: 1px solid black; }
      .travelDesktopTextContainer.textPageTextContainer .hotelDetailsDesktop .hotelDetailsDesktopItem .name {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
        text-align: left;
        grid-area: name;
        pointer-events: none; }
        .travelDesktopTextContainer.textPageTextContainer .hotelDetailsDesktop .hotelDetailsDesktopItem .name:after {
          content: " ";
          display: block;
          width: 50%;
          border: 1px solid #333;
          margin: 1rem 0 0.5rem 0; }
      .travelDesktopTextContainer.textPageTextContainer .hotelDetailsDesktop .hotelDetailsDesktopItem .price {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 1rem;
        font-weight: bold;
        text-shadow: 0 0 black;
        width: 30%;
        grid-area: price; }
      .travelDesktopTextContainer.textPageTextContainer .hotelDetailsDesktop .hotelDetailsDesktopItem .link {
        display: flex;
        grid-area: link;
        align-items: center; }
        .travelDesktopTextContainer.textPageTextContainer .hotelDetailsDesktop .hotelDetailsDesktopItem .link a {
          color: #3b3b3b; }
          .travelDesktopTextContainer.textPageTextContainer .hotelDetailsDesktop .hotelDetailsDesktopItem .link a:hover {
            color: #5d5d5d;
            font-weight: bold; }
      .travelDesktopTextContainer.textPageTextContainer .hotelDetailsDesktop .hotelDetailsDesktopItem .blurb {
        grid-area: blurb;
        font-size: 1.75rem;
        text-align: left; }
      .travelDesktopTextContainer.textPageTextContainer .hotelDetailsDesktop .hotelDetailsDesktopItem .disclaimer {
        grid-area: disclaimer;
        font-weight: bold;
        text-align: left;
        margin-top: 2rem; }

.travelDesktopImageContainer {
  height: 100%;
  width: 40%;
  margin-left: 1rem;
  position: relative; }
  .travelDesktopImageContainer .hotelImageContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: all ease 1s;
    pointer-events: none; }
    .travelDesktopImageContainer .hotelImageContainer.is-active {
      display: flex;
      opacity: 1;
      pointer-events: auto; }
    .travelDesktopImageContainer .hotelImageContainer .hotelDesktopImage {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 1rem;
      overflow: hidden; }
    .travelDesktopImageContainer .hotelImageContainer .hotelDesktopImg {
      align-self: center;
      height: 33.33%;
      width: 70%;
      background-size: 110% 110%;
      background-position: center;
      transition: all 0.5s ease; }
      .travelDesktopImageContainer .hotelImageContainer .hotelDesktopImg:first-of-type {
        align-self: baseline;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px; }
      .travelDesktopImageContainer .hotelImageContainer .hotelDesktopImg:last-of-type {
        align-self: flex-end;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px; }
      .travelDesktopImageContainer .hotelImageContainer .hotelDesktopImg:hover {
        background-size: 120% 120%;
        cursor: pointer; }

.travelHotel {
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  text-align: justify; }

.mobileItem {
  height: 90%;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem; }
  .mobileItem .wrapper {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .mobileItem .name {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    text-align: left; }
    .mobileItem .name:after {
      content: " ";
      display: block;
      width: 50%;
      border: 1px solid #333;
      margin: 1rem 0 0.5rem 0; }
  .mobileItem .price {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-shadow: 0 0 black;
    width: 30%; }
  .mobileItem .link {
    display: flex;
    align-items: center;
    color: #3b3b3b; }
    .mobileItem .link:hover {
      color: #5d5d5d; }
  .mobileItem .blurb {
    font-size: 1.3rem; }

.hotelImage {
  width: 100%;
  height: 100px;
  display: flex;
  align-self: end;
  border-top: 5px solid #333;
  overflow: hidden; }
  .hotelImage .hotelImg {
    height: 100%;
    width: 100%;
    background-size: cover;
    filter: grayscale(60%);
    transition: all ease 0.3s; }
    .hotelImage .hotelImg:hover {
      cursor: pointer;
      transform: scale(1.25);
      z-index: 3;
      filter: grayscale(30%); }
      .hotelImage .hotelImg:hover:first-child {
        box-shadow: 6px 0px 2px -1px rgba(0, 0, 0, 0.53); }
      .hotelImage .hotelImg:hover:nth-child(2) {
        box-shadow: -6px 0px 2px -1px rgba(0, 0, 0, 0.53), 6px 0px 2px -1px rgba(0, 0, 0, 0.53); }
    .hotelImage .hotelImg:last-child, .hotelImage .hotelImg:nth-child(2) {
      border-right: 2px;
      box-shadow: -6px 0px 2px -1px rgba(0, 0, 0, 0.53); }

.displayModalContainer {
  border: 5px solid black;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  width: 100%; }
  .displayModalContainer:hover {
    cursor: pointer; }
  .displayModalContainer .displayModalPicture {
    cursor: default !important;
    box-shadow: 37px 37px 24px 4px rgba(0, 0, 0, 0.5);
    border: 3px solid #5551;
    border-radius: 10px;
    padding: 0;
    max-height: 500px;
    max-width: 1000px; }

/* 
  Fonts
 */
/* Alex Custom Colors */
/* Possible Pattern */
/* Not liking this WhiteTri one... */
/* 

  Colors

 */
.registery-page.text-page {
  flex-direction: column;
  align-items: start;
  display: flex; }
  @media all and (min-width: 900px) {
    .registery-page.text-page {
      height: auto;
      padding-top: 5rem;
      padding-bottom: 5rem; } }

.register-wrapper {
  height: 90%;
  text-align: center;
  padding: 1rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%; }
  @media all and (min-width: 900px) {
    .register-wrapper {
      padding: 1rem 9rem; } }

.register-body-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media all and (min-width: 900px) {
    .register-body-wrapper {
      flex-direction: row; } }

.registerTitle {
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: start; }
  .registerTitle::after {
    display: flex;
    content: ' ';
    border: 1px solid #333;
    width: 120px;
    justify-self: center;
    margin: 0.5rem 0; }

.registerPageText {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem; }
  @media all and (min-width: 900px) {
    .registerPageText {
      width: 60%; } }

.reigsterItemContainer {
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: "Cormorant Garamond", serif;
  color: #333;
  margin-top: 1rem; }
  @media all and (min-width: 900px) {
    .reigsterItemContainer {
      width: 60%; } }
  .reigsterItemContainer .regItemContain {
    color: #333;
    width: 100%;
    background-size: contain;
    font-size: 2rem;
    background-position: center;
    transition: all ease 0.25s;
    display: flex;
    align-items: center;
    justify-content: center; }
    .reigsterItemContainer .regItemContain:hover {
      transform: scale(1.15); }
    @media all and (min-width: 600px) {
      .reigsterItemContainer .regItemContain {
        width: 40%; } }

/* 
  Fonts
 */
/* Alex Custom Colors */
/* Possible Pattern */
/* Not liking this WhiteTri one... */
/* 

  Colors

 */
.faq-page.text-page {
  flex-direction: column;
  align-items: start;
  display: flex; }
  @media all and (min-width: 900px) {
    .faq-page.text-page {
      padding-top: 5rem;
      height: auto;
      padding-bottom: 5rem; } }

.faq-wrapper {
  height: 90%;
  padding: 1rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%; }
  @media all and (min-width: 900px) {
    .faq-wrapper {
      padding: 1rem 9rem; } }

.faq-body-wrapper {
  width: 100%;
  display: flex; }

.faqTitle {
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: start;
  text-align: left; }
  .faqTitle::after {
    display: flex;
    content: ' ';
    border: 1px solid #333;
    width: 120px;
    justify-self: center;
    margin: 0.5rem 0; }

.faqPageText {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem; }
  .faqPageText a {
    color: #ccc;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.25s ease; }
    .faqPageText a:hover {
      color: #aaa;
      text-decoration: underline; }

/* 
  Fonts
 */
/* Alex Custom Colors */
/* Possible Pattern */
/* Not liking this WhiteTri one... */
/* 

  Colors

 */
body {
  background: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 height=%27100%25%27 width=%27100%25%27%3E%3Cdefs%3E%3Cpattern id=%27doodad%27 width=%275%27 height=%275%27 viewBox=%270 0 40 40%27 patternUnits=%27userSpaceOnUse%27 patternTransform=%27rotate%28135%29%27%3E%3Crect width=%27100%25%27 height=%27100%25%27 fill=%27rgba%2826, 32, 44,1%29%27/%3E%3Cpath d=%27M0 40a 9-9 0 0 0 9-9a 11-11 0 0 1 11-11a 9-9 0 0 0 9-9a 11-11 0 0 1 11-11v2a-9 9 0 0 0-9 9a-11 11 0 0 1-11 11a-9 9 0 0 0-9 9a-11 11 0 0 1-11 11zM0 0a 9-9 0 0 0 9-9h2a-11 11 0 0 1-11 11z%27 fill=%27rgba%2842, 67, 101,1%29%27/%3E%3Cpath d=%27M12 0a 11.5 11.5 0 0 1 11.5 11.5a 8.5 8.5 0 0 0 8.5 8.5a 11.5 11.5 0 0 1 11.5 11.5a 8.5 8.5 0 0 0 8.5 8.5a 11.5 11.5 0 0 1 11.5 11.5a 8.5 8.5 0 0 1 8.5 8.5v3a-11.5-11.5 0 0 1-11.5-11.5a-8.5-8.5 0 0 0-8.5-8.5a-11.5-11.5 0 0 1-11.5-11.5a-8.5-8.5 0 0 0-8.5-8.5a-11.5-11.5 0 0 1-11.5-11.5a-8.5-8.5 0 0 0-8.5-8.5a-11.5-11.5 0 0 1-11.5-11.5a-8.5-8.5 0 0 1-8.5-8.5a-11.5-11.5 0 0 0-11.5-11.5h2a 8.5 8.5 0 0 1 8.5 8.5a 8.5 8.5 0 0 0 8.5 8.5zM-28 0a 11.5 11.5 0 0 1 11.5 11.5a 8.5 8.5 0 0 0 8.5 8.5a 11.5 11.5 0 0 1 11.5 11.5a 8.5 8.5 0 0 0 8.5 8.5a 11.5 11.5 0 0 1 11.5 11.5a 8.5 8.5 0 0 1 8.5 8.5v3a-11.5-11.5 0 0 1-11.5-11.5a-8.5-8.5 0 0 0-8.5-8.5a-11.5-11.5 0 0 1-11.5-11.5a-8.5-8.5 0 0 0-8.5-8.5a-11.5-11.5 0 0 1-11.5-11.5a-8.5-8.5 0 0 0-8.5-8.5a-11.5-11.5 0 0 1-11.5-11.5h2a 8.5 8.5 0 0 0 8.5 8.5zM52 0a 11.5 11.5 0 0 1 11.5 11.5h-3a-8.5-8.5 0 0 1-8.5-8.5a-11.5-11.5 0 0 1-11.5-11.5a-8.5-8.5 0 0 1-8.5-8.5a-11.5-11.5 0 0 1-11.5-11.5z%27 fill=%27rgba%28116, 66, 16,1%29%27/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill=%27url%28%23doodad%29%27 height=%27200%25%27 width=%27200%25%27/%3E%3C/svg%3E");
  display: flex;
  justify-content: center; }

/* Global Classes */
.bodyContain {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: max-content;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  position: relative; }

.bodyContainerItem {
  transition: all ease 0.3s;
  background: transparent;
  position: relative; }

.text-page {
  font-family: "Cormorant Garamond", serif;
  position: relative;
  text-align: center; }
  .text-page::before {
    background: url(../../assets/images/painted-leaves.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    content: ' ';
    display: flex;
    position: absolute;
    top: 0;
    z-index: -1;
    filter: grayscale(0.45); }
  .text-page p {
    margin: 1rem auto 0rem auto; }
  @media all and (min-width: 920px) {
    .text-page {
      height: 1080px; } }

.textPageTextContainer {
  /*     background: #b2b59aee; Make transparent??? */
  box-shadow: 0px 0px 50px #222;
  border-radius: 5px;
  background-color: #b2b59aee;
  background-image: url("https://www.transparenttextures.com/patterns/dark-denim.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */ }

.imageContainer {
  box-shadow: 0px 0px 10px #222; }

.toc-marker {
  position: absolute;
  top: -200px; }
  .venueContainer .toc-marker {
    top: -0px; }

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */ }

body::-webkit-scrollbar-track {
  background: #47483d;
  /* color of the tracking area */
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5); }

body::-webkit-scrollbar-thumb {
  background-color: #b2b59aee;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 1px solid #b2b59acc;
  border-radius: 10px;
  /* creates padding around scroll thumb */
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.2); }

