@import '../settings.scss';

.faq-page.text-page {
  flex-direction: column;
  align-items:start;
  background: #927c68;
  display: flex;
  padding-top: 5rem;
  height: 850px;
}

.faq-wrapper {
	  height: 90%;
  text-align: center;
  padding:1rem 9rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.faq-body-wrapper {
	width: 100%;
	display: flex;
}

.faqTitle {
	  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: start;

  &::after {
    display: flex;
    content: ' ';
    border: 1px solid #333;
    width: 120px;
    justify-self: center;
    margin: 0.5rem 0;
  }
}

.faqPageText {
	width: 60%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: left;
    margin-top: 1rem;

    a {
      color: #ccc;
      font-weight: bold;
      text-decoration: none;
      transition: all 0.25s ease;

      &:hover {
        color: #aaa;
        text-decoration: underline;
      }
    }
}
