@import '../settings.scss';

.registery-page.text-page {
  flex-direction: column;
  align-items:start;
  display: flex;

  @media all and (min-width: 900px) {
  	height: 850px;
  	padding-top: 5rem;
  }
}

.register-wrapper {
	  height: 90%;
  text-align: center;
  padding:1rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;

  @media all and (min-width: 900px) {
  	padding: 1rem 9rem;
  }

}

.register-body-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;

	@media all and (min-width: 500px) {
		flex-direction: row;
	}
}

.registerTitle {
	  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: start;

  &::after {
    display: flex;
    content: ' ';
    border: 1px solid #333;
    width: 120px;
    justify-self: center;
    margin: 0.5rem 0;
  }
}

.registerPageText {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;

    @media all and (min-width: 900px) {
    	width: 40%;
    }

}

.reigsterItemContainer {
	height: 200px; 
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;


	@media all and (min-width: 600px) {
		width: 60%;
	}

	.regItemContain {
		width: 40%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		transition: all ease 0.25s;

		&:hover {
	      	transform: scale(1.15);
		}
	}
}