@import '../settings.scss';

.spacer.bodyContainerItem {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 50vh;


  @media all and (min-width: 900px) {
    height: 100vh;
  }


}

.spacerImage {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(50%);
  box-shadow: inset 0px 6px 14px 0px rgba(32, 32, 32, 0.54), inset 0px -10px 14px 0px rgba(32, 32, 32, 0.54);


  @media all and (min-width: 900px) {
    background-attachment: fixed;
  }
}

.spacerName {
  position: absolute; 
  z-index: 3;
  font-size: 3rem;
  color: white;
  font-family: $displayFont;
  text-transform: uppercase;

  .spacer:not(.spacer_Intro) & {
    left: 30px;
    bottom: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;

  }

  @media all and (min-width: 900px) {
      height: 200px;
      width: 400px;
      left: 40px;
      bottom: 0;
      font-size: 5rem;
  }

}


/* INTRO SECTION -- INTRO CONTEXT */

.spacer_Intro.bodyContainerItem {
  .spacerImage {
    background-size: cover;
  }

  .spacerName {
     background: url('../../public/assets/images/Icons/monogram-white-trans.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 180px;
    width: 280px;
    bottom: 40px; 
    left: 20px;
   
    @media all and (min-width: 900px) {
      height: 360px;
      width: 560px;
    }

  }
}


/* TRAVEL -- CARTAGENA CONTEXT 

  Keeping this just to save time in writing it in case I need it.

*/
/* 
.spacer_Travel {
  .spacerName {
 
    
  }
}

.spacer_Registry {
  .spacerName {
     
  }
}

.spacer_FAQ {
  .spacerName {

  }
}
 */