@import '../settings.scss';

.spacer.bodyContainerItem {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;


}

.spacerImage {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  filter: grayscale(50%);
  box-shadow: inset 0px 6px 14px 0px rgba(32, 32, 32, 0.54), inset 0px -10px 14px 0px rgba(32, 32, 32, 0.54);
}

.spacerName {
  position: relative; 
  z-index:3;
  height: 200px;
  width: 400px;
  font-size: 3rem;
  color: white;
  font-family: $displayFont;
  text-transform: uppercase;

  .spacer:not(.spacer_Intro) & {
    position: absolute;
    left: 40px;
    bottom: 0;
    font-weight: bold;
    font-size: 5rem;
    display: flex;
    align-items: center;

  }
}


/* INTRO SECTION -- INTRO CONTEXT */

.spacer_Intro {
  .spacerImage {
    background-size: cover;
  }

  .spacerName {
     background: url('../../public/assets/images/Icons/initials-white-trans.png');
    background-size: contain;
    background-repeat: no-repeat;
   
  }
}


/* TRAVEL -- CARTAGENA CONTEXT 

  Keeping this just to save time in writing it in case I need it.

*/
/* 
.spacer_Travel {
  .spacerName {
 
    
  }
}

.spacer_Registry {
  .spacerName {
     
  }
}

.spacer_FAQ {
  .spacerName {

  }
}
 */