@import '../settings.scss';

.titleOuterContainer.bodyContainerItem {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.titleImage {
/*   background: url('../../public/assets/images/engage/highlight/52.jpg'); */
  background: url('../../public/assets/images/engage/highlight/photoshop/2.jpg');  
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(50%);
}



/* This is a place holder for the Logo */
.titleName {
  background: url('../../public/assets/images/Icons/initials-white-trans.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative; 
  z-index:3;
  height: 200px;
  width: 400px;
}