@import '../settings.scss';


.TravelContainer.bodyContainerItem {
  flex-direction: row;
  align-items:center;
  display: flex;
  font-family: $textFont;

  @media all and (min-width: 900px) {
    height: 900px;
  }
}

.Travel-text {
// Might leave the border. 
  height: 90%;
  text-align: center;
  padding: 1rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @media all and (min-width: 900px) {
    height: 90%;
    padding: 1rem 9rem;

  }


}

.Travel-text-header {
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &::after {
    display: flex;
    content: ' ';
    border: 1px solid #333;
    width: 60%;
    justify-self: center;
    margin: 0.5rem 0;
  }
}

.travelTextNav {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  transition: all ease 0.25s;
  text-align: center;
  margin: 0 auto;

  @media all and (min-width: 500px) {
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;

  }


  .travelTextNavItem {
    margin: 1rem 1rem 1rem 0;
    border-bottom: 1px solid #333;
    transition: all ease 0.23s;

    &.is-active {
      font-size: 1.5rem;
      font-weight: bold;
      text-shadow: 0 0 #333;
    }

    &:hover {
      cursor: pointer;
      font-size: 1.5rem;
      text-shadow: 0 0 #333;
    }

    @media all and (min-width: 900px) {
      &.is-active,
      &:hover {
        font-size: 2.25rem;
      }
    }
  }
}



.Travel-blurb {
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
}

.travelBlurbItem {
  opacity: 0;
  display: none; 
  transform: all ease 0.5s;
  flex-direction: column;



  &.is-active { 
    display: flex;
    opacity: 1;
  }
}

.travelDirections {
  height: 100%;
  text-align: center;

  .directions-wrapper {
    display: flex;
    flex-direction: row;

    .directions-texts-wrapper {
      display: flex;
     flex-direction: column;
     border: 1px solid black;
     padding: 1rem;

     p {
      margin: 1rem auto 0rem auto;
     }
    }
  }
}


.travelHotel {
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  text-align: justify;

  @media all and (min-width: 900px) {
    flex-direction: row;
  }

}

.hotelItem {
  border: 1px solid #333;
  height: 80%;

  display: grid;
  align-items: center;
  justify-content: center;

  margin-bottom: 1rem;


  @media all and (min-width: 900px) {
    width: 30%;
  }

  .wrapper {
      padding: 1rem 2rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .name {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;

    &:after {
      content: " ";
      display: block;
      width: 50%;
      border: 1px solid #333;
      margin: 1rem 0 0.5rem 0;
    }
  }

  .price {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-shadow: 0 0 black;
    width: 30%;
  }

  .link {
    display: flex;
    align-items: center;
    color: #3b3b3b; // I have no clue where this color is being called from for the base text. Need to research this.

    &:hover {
      color: #5d5d5d;
    }

  }

  .blurb {
    font-size: 1.3rem;
  }

  &.hotelItem-0 {
    order: 2;
    height: 90%;
  }

  &.hotelItem-1 {
    order: 1;
  }

  &.hotelItem-2 {
    order: 3;
  }
}

.hotelImage {
  width: 100%;
  height: 100px;
  display: flex;
  align-self: end;
  border-top: 5px solid #333;
  overflow: hidden;

  .hotelImg {
    height: 100%;
    width: 100%;
    background-size: cover;
    filter: grayscale(60%);
      transition: all ease 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.25);
      z-index: 3;
      filter: grayscale(30%);

      &:first-child {
        box-shadow: 6px 0px 2px -1px rgba(0, 0, 0, 0.53);
      }

      &:nth-child(2) {
        box-shadow: -6px 0px 2px -1px rgba(0, 0, 0, 0.53), 6px 0px 2px -1px rgba(0, 0, 0, 0.53);;
      }

    }

    &:last-child, &:nth-child(2) {
      border-right: 2px;
      box-shadow: -6px 0px 2px -1px rgba(0, 0, 0, 0.53);
    }
   }

  .hotelItem-0 & {
    height: 150px;
  }
}


.displayModalContainer {
  border: 5px solid black;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  width: 100%;

  &:hover {
    cursor: pointer;
  }


  .displayModalPicture {
    cursor: default !important;
    box-shadow: 37px 37px 24px 4px rgba(0, 0, 0, 0.5);
    border: 3px solid #5551;
    border-radius: 10px;
    padding: 0;
    max-height: 500px;
    max-width: 1000px;
  }


}
