@import '../settings.scss';


.TravelContainer.bodyContainerItem {
  flex-direction: row;
  align-items:center;
  display: flex;
  font-family: $textFont;

  @media all and (min-width: 900px) {
    height: 900px;
  }
}

.Travel-text {
// Might leave the border. 
  height: 90%;
  text-align: center;
  padding: 1rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @media all and (min-width: 900px) {
    height: 90%;
    padding: 1rem 9rem;

  }


}

.Travel-text-header {
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &::after {
    display: flex;
    content: ' ';
    border: 1px solid #333;
    width: 60%;
    justify-self: center;
    margin: 0.5rem 0;
  }
}

.travelTextNav {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  transition: all ease 0.25s;
  text-align: center;
  margin: 0;
  position: relative;
  box-shadow: 0;

  @media all and (min-width: 500px) {
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
    margin-bottom: -2px;

  }


  .travelTextNavItem {
    margin: 0;
    padding: 1rem;
    transition: all ease 0.23s;
    box-shadow: none;
    font-size: 1.5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: inset 0px -9px 11px -9px rgba(0, 0, 0, 0.55);
    pointer-events: auto;

    &.is-active {
      box-shadow: none;
      font-weight: bold;
      border-bottom: 0;
      pointer-events: none;
    }


    &.travelTextNavItem0 {
      border-right: 1px solid #111;
    }


    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
}



.Travel-blurb {
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  position: relative;
}

.travelBlurbItem {
  opacity: 0;
  display: none; 
  transition: all ease 2s;
  flex-direction: column;
  pointer-events: none;


  &.is-active { 
    display: block;
    opacity: 1;
    pointer-events: auto;
    z-index: 3;
  }

  @media all and (min-width: 900px) {
    position: absolute;
    display: flex;

    &.is-active {
      display: flex;
    }
  }
}

.travelDirections {
  height: 100%;
  text-align: center;
  width: 100%;


  .directions-wrapper {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 2rem;

    .directions-texts-wrapper {
      display: flex;
     flex-direction: column;
     border: 1px solid black;
     padding: 1rem;

     p {
      margin: 1rem auto 0rem auto;
     }
    }
  }
}


.travelHotelsContainer {
  width: 100%;
}

.travelMobileContainer {
  height: 100%;
  width: 100%;

  .hotelDisclaimer {
    padding: 1rem 1rem 2rem 1rem;
  }

  @media all and (min-width: 900px) {
    display: none;
  }
}

.travelDesktopContainer {
  display: none;
  height: 70vh;


  @media all and (min-width: 900px) {
    display: flex;
  }
}


/* The Location Tab */

.travelDesktopDirectionsTextContainer {
  height: 100%;
  width: 55%;
  border-top-left-radius: 0;
}

.travelDesktopDirectionsContainer {
  height: 100%;

  display: none;

  @media (min-width: 900px) {
    display: flex;
  }
}
.travelMobileDirectionsContainer {
  display: block;

  @media (min-width: 900px) {
    display: none;
  }
}

.travelDirectionsNav {
  display: flex;
  flex-direction: row;

}

.destinationNavItem {
    display: inline-flex;
    width: 25%;
    height: 100%;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.25rem;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    transition: all ease 0.5s;
    box-shadow: inset 0px -9px 11px -9px rgba(0, 0, 0, 0.55);

    &:first-of-type {
      border-left: 0;
    }

    &:last-of-type {
      border-right: 0;
    }

    &:hover {
      cursor: pointer;
      font-weight: bold;
    }

    &.is-active {
      font-weight: bold;
      box-shadow: none;
      border-bottom: 0;
      pointer-events: none;
    }

    .wrapper, .text {
      pointer-events: none;
    }
}


.travelDesktopDirectionsImageContainer {
  height: 100%;
  width: 40%;
  margin-left: 1rem;
  position: relative;

  .destinationPictureGroup {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: all ease 0.2s;
    pointer-events: none;
    flex-direction: column;
    display: flex;

    &.is-active {
      opacity: 1;
      pointer-events: auto;
    }

    .destinationDesktopImage {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 1rem;

      overflow: hidden;
    }

    .destinationDesktopImg {
      align-self: center;
      height: 33.33%;
      width: 70%;
      background-size: 110% 110%;
      background-position: center;
      transition: all 0.5s ease;

      &:first-of-type {
        align-self: baseline;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px
      }

      &:last-of-type {
        align-self: flex-end;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px
      }

      &:hover {
        background-size: 120% 120%;
        cursor: pointer;
      }
    }

    &.single-image {
      padding: 2rem;
      .destinationDesktopImg {
        height: 100%;
        width: 100%;
      }
    }

  }
}





.travelDesktopDirectionsTextInnerContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 92%;
    width: 100%;
    position: relative;

    .destinationContent {
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: all ease 1s;
      position: absolute;
      padding: 2rem;
      pointer-events: none;
      overflow: hidden;

      &.is-active {
        display: flex;
        opacity: 1;
        pointer-events: auto;
      }


      .wrapper {
          display: grid;    
          grid-template-areas:
            "name name"
            "price link"
            "blurb blurb"
            "disclaimer disclaimer";
          grid-auto-rows: min-content;
          grid-auto-columns: 3.75rem 1fr;
          flex-direction: row;
          flex-wrap: wrap;
          padding: 2rem;
          border: 2px solid #b2b59a33; // Will change later
          border-radius: 5px;
          overflow: auto;
          pointer-events: none;
          box-shadow:  0px 0px 10px rgba(0,0,0,0.25);
          z-index: 0;

          .is-active & {
            pointer-events: auto;
            z-index: 3;
          }


          &::-webkit-scrollbar {
            width: 12px;               /* width of the entire scrollbar */
          }

          &::-webkit-scrollbar-track {
            background: #b2b59a33;        /* color of the tracking area */
            box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);

          }

          &::-webkit-scrollbar-thumb {
            background-color: #b2b59aee;    /* color of the scroll thumb */
            border-radius: 20px;       /* roundness of the scroll thumb */
            border: 1px solid #b2b59acc;
            border-radius: 10px;  /* creates padding around scroll thumb */
            box-shadow: inset 0px 0px 10px rgba(255,255,255,0.2);
          } 

      }

      .heading {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
        text-align: center;
        grid-area: name;

        &:after {
          content: " ";
          display: block;
          width: 50%;
          border: 1px solid #333;
          margin: 1rem auto 0.5rem auto;
        }
      }

      .blurb {
        grid-area: blurb;
        font-size: 1.2rem;
        text-align: center;
      }
    }



}



/* Hotel Tab */

.travelDesktopTextContainer.textPageTextContainer {
  height: 100%;
  width: 55%;
  border-top-left-radius: 0;

  .travelDesktopHotelNav {
      display: flex;
      height: 5%;

      .hotelNavItem {
        display: inline-flex;
        width: 25%;
        height: 100%;
        font-size: 1.25rem;
        justify-content: center;
        align-items: center;
        padding: 1rem 0.25rem;
        border-bottom: 1px solid #333;
        border-right: 1px solid #333;
        transition: all ease 0.5s;
        box-shadow: inset 0px -9px 11px -9px rgba(0, 0, 0, 0.55);

        &:first-of-type {
          border-left: 0;
        }

        &:last-of-type {
          border-right: 0;
        }

        &:hover {
          cursor: pointer;
          font-weight: bold;
        }

        &.is-active {
          font-weight: bold;
          box-shadow: none;
          border-bottom: 0;
          pointer-events: none;
        }

      }
  }

  .hotelDetailsDesktop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 95%;
    width: 100%;
    position: relative;

    .hotelDetailsDesktopItem {
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: all ease 1s;
      position: absolute;
      padding: 2rem;
      pointer-events: none;

      &.is-active {
        display: flex;
        opacity: 1;
        pointer-events: auto;
      }


      .wrapper {
          display: grid;    
          grid-template-areas:
            "name name"
            "price link"
            "blurb blurb"
            "disclaimer disclaimer";
          grid-auto-rows: min-content;
          grid-auto-columns: 3.75rem 1fr;
          flex-direction: row;
          flex-wrap: wrap;
          padding: 2rem;
          border: 1px solid black; // Will change later
      }

      .name {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
        text-align: left;
        grid-area: name;
        pointer-events: none;

        &:after {
          content: " ";
          display: block;
          width: 50%;
          border: 1px solid #333;
          margin: 1rem 0 0.5rem 0;
        }
      }

      .price {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 1rem;
        font-weight: bold;
        text-shadow: 0 0 black;
        width: 30%;
        grid-area: price;
      }

      .link {
        display: flex;
        grid-area: link;
        align-items: center;

        a {
          color: #3b3b3b; // I have no clue where this color is being called from for the base text. Need to research this.

          &:hover {
            color: #5d5d5d;
            font-weight: bold;
          }
        }

      }

      .blurb {
        grid-area: blurb;
        font-size: 1.75rem;
        text-align: left;
      }

      .disclaimer {
        grid-area: disclaimer;
        font-weight: bold;
        text-align: left; 
        margin-top: 2rem;
      }
    }
  }
}

.travelDesktopImageContainer {
  height: 100%;
  width: 40%;
  margin-left: 1rem;
  position: relative;

  .hotelImageContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: all ease 1s;
    pointer-events: none;

    &.is-active {
      display: flex;
      opacity: 1;
      pointer-events: auto;
    }

    .hotelDesktopImage {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 1rem;

      overflow: hidden;
    }

    .hotelDesktopImg {
      align-self: center;
      height: 33.33%;
      width: 70%;
      background-size: 110% 110%;
      background-position: center;
      transition: all 0.5s ease;

      &:first-of-type {
        align-self: baseline;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px
      }

      &:last-of-type {
        align-self: flex-end;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px
      }

      &:hover {
        background-size: 120% 120%;
        cursor: pointer;
      }
    }
  }
}


.travelHotel {
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  text-align: justify;
}

.mobileItem {
  height: 90%;

  display: grid;
  align-items: center;
  justify-content: center;

  margin-bottom: 1rem;


  .wrapper {
      padding: 1rem 2rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .name {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    text-align: left;

    &:after {
      content: " ";
      display: block;
      width: 50%;
      border: 1px solid #333;
      margin: 1rem 0 0.5rem 0;
    }
  }

  .price {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-shadow: 0 0 black;
    width: 30%;
  }

  .link {
    display: flex;
    align-items: center;
    color: #3b3b3b; // I have no clue where this color is being called from for the base text. Need to research this.

    &:hover {
      color: #5d5d5d;
    }

  }

  .blurb {
    font-size: 1.3rem;
  }
}

.hotelImage {
  width: 100%;
  height: 100px;
  display: flex;
  align-self: end;
  border-top: 5px solid #333;
  overflow: hidden;

  .hotelImg {
    height: 100%;
    width: 100%;
    background-size: cover;
    filter: grayscale(60%);
      transition: all ease 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.25);
      z-index: 3;
      filter: grayscale(30%);

      &:first-child {
        box-shadow: 6px 0px 2px -1px rgba(0, 0, 0, 0.53);
      }

      &:nth-child(2) {
        box-shadow: -6px 0px 2px -1px rgba(0, 0, 0, 0.53), 6px 0px 2px -1px rgba(0, 0, 0, 0.53);;
      }

    }

    &:last-child, &:nth-child(2) {
      border-right: 2px;
      box-shadow: -6px 0px 2px -1px rgba(0, 0, 0, 0.53);
    }
   }
}



.displayModalContainer {
  border: 5px solid black;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  width: 100%;

  &:hover {
    cursor: pointer;
  }


  .displayModalPicture {
    cursor: default !important;
    box-shadow: 37px 37px 24px 4px rgba(0, 0, 0, 0.5);
    border: 3px solid #5551;
    border-radius: 10px;
    padding: 0;
    max-height: 500px;
    max-width: 1000px;
  }


}
