@import '../settings.scss';


.venueContainer.bodyContainerItem {
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  background: #927c68;
  display: flex;
  padding-top: 5rem;

}

.venue-bg-container {
  width: 33%;
  height: 85%;
  margin: 1rem;
  margin-right: 4rem;
}

.venue-bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(60%);
}



.venue-text {
  border: 1px solid black; // Might leave the border. 
  width: 50%;
  height: 85%;
  text-align: center;
  padding: 1rem 9rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.venue-text-header {
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &::after {
    display: flex;
    content: ' ';
    border: 1px solid black;
    width: 60%;
    justify-self: center;
    margin: 0.5rem 0;
  }
}

.venue-blurb {
  font-size: 1.5rem;
}

