@import '../settings.scss';


.venueContainer.bodyContainerItem {

  flex-direction: column;
  justify-content: center;
  align-items:center;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 1rem;

  font-family: $textFont;

  @media all and (min-width: 900px) {
    padding-top: 5rem;
    flex-direction: row;
    height: 100vh;
  }


}

.venue-bg-container {
  display: none;

  @media all and (min-width: 900px) {
      display: block;
      width: 33%;
      height: 85%;
      margin: 1rem;
      margin-right: 4rem;
  }
}

.venue-bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(60%);


  box-shadow: 0px 0px 50px #666;


}



.venue-text {
  border-radius: 5px;
  width: 90%;
  text-align: center;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @media all and (min-width: 900px) {
    height: 85%;
    padding: 1rem 9rem;
    width: 50%;
  }

}

.venue-text-header {
  font-size: 2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &::after {
    display: flex;
    content: ' ';
    border: 1px solid black;
    width: 60%;
    justify-self: center;
    margin: 0.5rem 0;
  }

  @media all and (min-width: 900px) {
    font-size: 2.5rem;
  }
}

.venue-blurb {
  font-size: 1.3rem;

  strong {
    text-shadow: 0 0 black;
  }

  @media all and (min-width: 900px) {
    font-size: 1.5rem;
  }
}

